

.map {
		margin: 0 auto;
		width: 70%;
		padding: 0;
}

.full-width {
	width: 100%
}

.site-branding {
			img{ 	width: 30%;
					max-width: 300px;
					@include media($tablet) {	
												width: 50%;
												max-width: 300px;
											}
				}
}

.banner-container{
	float:left;
	z-index: 1;
	position: relative;
	.home-feat-logo{
		margin: 0;
		position:absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		z-index: 101;
		@include media($tablet) { width: 50%}; 
		opacity: 1;
	}
	.home-feat-logo-bk{
		margin: 0;
		position:absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		@include media($tablet) { width: 50%}; 
	}
}

.copyright {
	width: 60%
}


.row{
	.section-border { 
	    display: block;
	    margin-bottom: 0.5em;
	    margin-top: 0.5em;
	    border-top: solid $color__footer-background 1px;
	    padding: ($grid_padding * 2);
	} 
}