

.full-width {
	width: 100%
}


.banner-container{
	float:left;
	z-index: -1;
	position: relative;
	.home-feat-logo{
		margin: 0;
		position:absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		z-index: 101;
		@include media($tablet) { width: 50%}; 
		opacity: 0;
	}
	.home-feat-logo-bk{
		margin: 0;
		position:absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		@include media($tablet) { width: 50%}; 
	}
}





.section-border { 
    display: block;
    margin-bottom: 0.5em;
    border-bottom: 10px;
} 