.site-footer {
	background-color: $color__footer-background;
	p {
		color: white;
	}
}


.footer-container{
	width: 80%;
	margin: auto;

	


	.copyright p {
	position: inherit;
	display: inline-block;
	float: left;
	width: auto;
	}
}



	.menu-footer-navigation-container {
		display:inline-block;														
		float: left;
		width: auto;
		text-align: left;
		

		ul { margin: 0; }


		li {
			display: inline-block;
			text-align: left;
			margin-left: 0.2em;
			:before {
				content: "// ";
			}

		}
		a {
			display: block;
			text-decoration: none;
			color: white;
		}

	}
