

.menu-social-menu-container {
		display:inline-block;														
		float: right;
		text-align: right;
		

		ul { margin: 0; }


		li {
			display: inline-block;
			text-align: right;
			margin-right: 0em;

		}
		a {
			display: block;
			text-decoration: none;
		}

	}
